node_modules
dist

.env
.env.local
*.env.*

.git
.gitignore

npm-debug.log
yarn-debug.log
yarn-error.log
*.log
*.tmp

docker-compose.override.yml
.dockerignore

.vscode
.idea
*.swp
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

coverage
test
*.spec.*
*.test.*